<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice poker</title>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>    
    <link href="./static/css/output.css" rel="stylesheet">
</head>
<body class="bg-[url('../img/bg.jpeg')]  bg-cover h-screen w-screen">

    <div class="flex justify-center items-center h-full w-full">
        <div class="flex flex-col justify-around items-center h-full w-full">
            <div class="flex justify-around w-1/2">
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
            </div>
        </div>
        <div class="flex flex-col justify-around items-center h-full w-full">
            <div class="flex justify-around w-1/2">
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
                <div class="text-white text-7xl bg-red-900 w-32 h-32 p-8 text-center rounded-md">2</div>
            </div>
        </div>
        <div id="roll" onclick="roll" class="bg-red-900 text-white w-1/2 h-48 text-7xl bg-opacity-90 rounded-md text-center pt-10 hover:scale-110">Тапай</div>
    </div>
    <script>
        async function roll() {
            const code = localStorage.getItem("code")
            const name = localStorage.getItem("name")
            const response = await fetch(`gamepage/roll?code=${code}&player_name=${name}`);
        }
    </script>


</body>
</html>